extends layout

block content
    .container 
        div 
            .row 
                .col-2 
                .col-8 
                    h3 Open a trading account with YPO and start investing for free
                    h5.mt-4.color Let’s get started
                    p.mt-4 Step 1:
                    .row 
                        .col-4 
                        .col-4 
                            p.text-color Sign up as:
                            .list-group
                                button.list-group-item.list-group-item-action(type='button') A second item
                                button.list-group-item.list-group-item-action(type='button') A third button item
                                button.list-group-item.list-group-item-action(type='button') A fourth button item
                               


                .col-2

        
   