extends layout

block content
    .container 
        .row 
            .col-1
            .col-10
                div
                    .row
                        .col-10 
                        .col-2
                            .person-icon
                                i.bi.bi-person-square
                div
                    p.h4 Upcoming IPOs
                    hr
                    .row 
                        .col-4 
                            p.h4 YPLUS
                            p.h6 Yodaplus Technologies Pvt. Ltd.
                            p 18th-20th Jan
                        

              
   