extends layout

block content
    div.container
        if data != undefined && data.length > 0
            
            h1 Listed IPO
        
           
            #data
            
            for item in data
                label.mt-5(for="ipo") Select an IPO
                select.form-control#ipo(name='ipo')
                    option(value=`${item.Record.company}`) #{item.Record.company} IPO

            button.btn.btn-primary.mt-5(type="submit") Start an Allotment
script(src='/bootstrap/js/bootstrap.bundle.js') 

                
                    
                