extends layout

block content
    h1 IPO Allotment - Enroll Admin
    #data
        if data != undefined && data.length > 0
            p.lead The returned result was: #{data}
        else
            a.btn.btn-lg.btn-primary(href='/actionEnrollAdmin') Enroll Admin
script(src='/bootstrap/js/bootstrap.bundle.js')
