extends layout

block content
    .container 
        .row 
            .col-4
            .col-4 
                .row 
                    .col-5 
                    .col-2 
                        .person-icon
                            i.bi.bi-person-circle
                        
                    .col-5
                .row 
                    .col-3
                    .col-6
                        h5.mt-3.color.center Aasawari Bhavsar 
                    .col-3
                .row 
                    .col-3 
                    .col-6
                        h6.mt-2.center.color User Id
        .row 
            .col-1
            .col-10
                div
                div
                    p.h4 Holdings
                    hr
                    .row 
                        .col-4 
                            p.h4 YPLUS
                            p.h6 Yodaplus Technologies Pvt. Ltd.
                            p Invested 10,000 INR
                        .col-6 
                        .col-2
                            p.h6 Rs. 500
                            p.text-color Total Shares 20
                        

              
   