extends layout

block content
    .index-conatiner
        .text-center
            .main-heading Welcome to YPO 
            h1.h3.mb-3.font-weight-normal by Yodaplus
        hr.home
        div.link-account
            a(href="/login") Login to YPO                             
                i.person-icon.bi.bi-person-check-fill
        hr.home
        div.link-account
            a(href="/register-step1") Create a new account                      
                i.person-icon.bi.bi-person-plus-fill

        hr.home
   
        
