extends layout

block content
    .container
        .main-heading Welcome to YPO by Yodaplus
        hr.home
        div.link-account
            a(href="/login") Login to YPO                             
                i.person-icon.bi.bi-person-check-fill
        hr.home
        div.link-account
            a(href="/register-step1") Create a new account                      
                i.person-icon.bi.bi-person-plus-fill

        hr.home
   
        
