extends layout


block content
    .container 
        .row 
            .col-4
            .col-4 
                //- .card 
                //-     div.card-body
                .row 
                    .col-5 
                    .col-2 
                        div.person-icon
                            i.bi.bi-person-circle
                    .col-5 

                form(action="/users/login" method="post")
                    .row
                        .col-12
                            //- if message == "Invalid Username or Password"
                            //-     .alert.alert-info(role='alert') #{message}
                            .form-group 
                                label(for="username") User Name 
                                input.form-control(type="text" placeholder="username" name="username" required)  
                            .form-group 
                                label(for="password") Password
                                input.form-control(type="password" placeholder="password" name="password" required)
                            .row 
                                .col-12.d-flex.justify-content-center
                                    button.btn.btn-lg.button(type="submit") Login








