extends layout

block content
    .container 
        .row 
            .col-4
            .col-4 
                //- .card 
                //-     div.card-body
                .row 
                    .col-5 
                    .col-2 
                        div.person-icon
                            i.bi.bi-person-circle
                    .col-5 
                
                form(action="/login",method="post")
                    .row
                        .col-12
                            .form-group 
                                label(for="username") User Name 
                                input.form-control(type="text",placeholder="username",name="username" required)  
                            .form-group 
                                label(for="password") Password
                                input.form-control(type="password",placeholder="password",name="password" required)
                            
                            .row 
                                .col-4
                                
                                .col-4 
                                    button.btn.btn-lg.button(type="submit") Login

                                .col-4
                        
                

            
            
    
