extends layout

block content
    .container 
        .row 
            .col-1
            .col-10
                div
                    //- .row
                    //-     .col-10 
                    //-     .col-2
                    //-         .person-icon
                    //-             i.bi.bi-person-square
                div
                    p.h4 IPOs(3)
                    hr
                    .row 
                        .col-4 
                            p.h4 YPLUS
                            p.h6 Yodaplus Technologies Pvt. Ltd.
                            p 18th-20th Jan
                        .col-6 
                        .col-2
                            p.h6 Rs. 100-Rs.200
                            p.text-color Lot Size: 20 units
                            .row 
                                .col-2
                                .col-6
                                    button.button.btn-lg(type="submit") Apply
                                .col-2

                div
                    a(href="/upcoming-ipo",method="get")
                        div.center
                            i.bi.bi-chevron-double-down
                            p View Upcoming IPOs
                
        
   