extends layout

block content
    .container 
        div.row
                .col-2 
                .col-12
                    h3.text-center  Open a trading account with YPO and start investing for free
                    h5.mt-4.color.text-center  Let's get started
                    
                    .row
                        .col-4
                        .col-4.text-left
                            
                            form(action="/users/register-step1", method="post") 
                                p.mt-4 Step 1:
                                p.text-color Sign up as:
                                select.form-select(name="role_type_dropdown", required="true")
                                    option(value="") Select Option
                                    for item in role_type 
                                        option(value="#{item.role_type_id}") #{item.role_type}
                                .row.mb-5 
                                    .col-11
                                    .col-1
                                        button.btn.button(type="submit") Next
                                
                            //- .list-group
                            //-     a.list-group-item.list-group-item-action#IN(type='button',name="IN") Individual Investor
                            //-     a.list-group-item.list-group-item-action(type='button' ) Angel Investor
                            //-     a.list-group-item.list-group-item-action(type='button') Promoter 
                            //-     a.list-group-item.list-group-item-action(type='button') Venturn Capital Firm 
                            //-     a.list-group-item.list-group-item-action(type='button') Private Equity Firm 
                            //-     a.list-group-item.list-group-item-action(type='button') Strategic Investor 
                            //-     a.list-group-item.list-group-item-action(type='button') Family Office 
                            //-     a.list-group-item.list-group-item-action(type='button' ) Crowdfund 
                            //-     a.list-group-item.list-group-item-action(type='button') Issuer 
                            //-     a.list-group-item.list-group-item-action(type='button') Paying Agent

        
   