extends layout

block content
    .container 
        .row
            .col-2 
            .col-8
                form(action="/users/register-investor-step3" method="post") 
                    p Step 3:

                    h5.color.mt-4 Bank Details
                    //- form(action="")
                    .row 
                        .col-4
                            input(type="hidden" name="investor_type_id",value=`${investor_type_id}`)
                            input(type="hidden" name="username",value=`${username}`)
                            .form-group 
                                label(for="acctnum") Bank Account Number *
                                input.form-control(type="text" name="acctnum" required)  
                            .form-group 
                                label(for="ifsc") Bank IFSC *
                                input.form-control(type="text" name="ifsc" required)  
                        .col-2
                        .col-4
                            .form-group 
                                label(for="acctholder") Account Holder *
                                input.form-control(type="text" name="acctholder" required)  
                            .form-group 
                                label(for="pan") PAN *
                                input.form-control(type="text" name="pan" required)  

                    h5.color.mt-4 Demat Account Details
                    //- form(action="")
                    .row 
                        .col-4
                            .form-group 
                                label(for="dacctnum") Demat Account Number *
                                input.form-control(type="text" name="dacctnum" required)  

                        .col-2


                        .col-4
                            .form-group 
                                label(for="dpartid") Demat Participant Id *
                                input.form-control(type="text" name="dpartid" required)  

                    .row.mb-5 

                        .col-6.text-left
                            button.btn.button(type="reset") Close

                        .col-6.text-right
                            button.btn.button(id='btn_submit_3' type="submit" disabled) Submit

    script(type='text/javascript').

        // Get all the input fields and the submit button
        const inputs = document.querySelectorAll('input');
        const submitButton = document.getElementById('btn_submit_3');

        // Add event listeners to each input field to check if they are filled
        inputs.forEach(input => {
            input.addEventListener('input', () => {
                // Check if all fields are filled
                const allFieldsFilled = Array.from(inputs).every(input => input.value.trim() !== '');
                // Enable or disable the submit button based on the result
                submitButton.disabled = !allFieldsFilled;
            });
        });           




