extends layout

block content
    .container 
        .row 
            .col-1
            .col-10
                div
                    //- .row
                    //-     .col-10 
                    //-     .col-2
                    //-         .person-icon
                    //-             i.bi.bi-person-square
                div
                    p.h4 Upcoming IPOs(#{upcoming.length})
                    hr
                    if upcoming
                        table.table.table-bordered
                            thead
                                tr
                                    th ISIN
                                    th Instrument
                                    th IPO Start Date
                            tbody
                                each ipo in upcoming
                                    console.log(ipo)
                                    - const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                                    - var bid_start_date = new Date(ipo.bid_start_date);
                                    - var date = bid_start_date.getDate() + "th " + month[bid_start_date.getMonth()] + " " + bid_start_date.getFullYear();
                                    tr
                                        td #{ipo.ISIN}
                                        td #{ipo.issuer_name}
                                        td #{date}



